/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

composer.lock
package-lock.json

public/admin
public/customer
public/customer_v2

.git
.svn
.idea
.vscode
app/Units/Notice/Msg/Created/SmsIni/log/*
app/Units/Notice/SmsIni/log/*
.devcontainer
